{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties", "babel-plugin-transform-undefined-to-void"],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  }
}